                      /* General Rules */
                      html {
                        font-size: 18px;
                        font-family: Helvetica, sans-serif;
                        line-height: 1.4;
                      }

                      .container {
                        width: 960px;
                        margin: 0 auto;
                        display: flex;
                      }

                      /* Header */
                      .banner {
                        background-image: url("./resources/glasses-bg.png");
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 30rem;
                        padding-top: 1rem;
                      }

                      .head.container {
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 10rem;
                        color: white;
                        background-color: cadetblue;
                      }

                      .logo {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1rem 2rem;
                      }

                      .logo img {
                        height: 1.5rem;
                        padding-right: 1rem;
                      }

                      .logo span {
                        font-size: 1rem;
                      }

                      .head .nav {
                        width: auto;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-right: 2rem;
                      }

                      .head .nav span {
                        margin-left: 2rem;
                      }

                      .slogan {
                        background-color: white;
                        padding: 1.5rem 5rem;
                        margin-right: -2rem;
                      }

                      .slog.container {
                        text-align: center;
                        justify-content: flex-end;
                      }

                      .slogan h1 {
                        font-weight: bold;
                        font-size: 2rem;
                        line-height: 1.2;
                      }

                      .hidden {
                        display: none;
                      }

                      /* Main section */
                      .features.container {
                        justify-content: center;
                      }

                      .features .icon {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        height: 8rem;
                        margin: 3rem;
                        width: 5rem;
                      }

                      .ruler.icon img {
                        width: 5rem;
                      }

                      .truck.icon img {
                        width: 5rem;
                      }

                      .paper.icon img {
                        width: 3.5rem;
                      }

                      .icon p {
                        text-align: center;
                      }

                      .info.container {
                        justify-content: center;
                      }

                      .info-block {
                        width: 35%;
                        margin-right: 5%;
                      }

                      .info-block .title {
                        font-weight: bold;
                        font-size: 1rem;
                        background-color: cadetblue;
                        padding-left: 1.25rem;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        width: 10rem;
                      }

                      /* Footer */
                      .foot.container {
                        background-color: azure;
                        text-align: center;
                        justify-content: flex-start;
                        margin-top: 5rem;
                      }

                      .foot footer {
                        padding: 4rem;
                        display: flex;
                        align-items: center;
                      }

                      footer img {
                        padding-right: 1rem;
                        height: 1.5rem;
                      }

                      /* Tablet Version */
                      @media only screen and (max-width: 960px) {
                        .container, .banner {
                          width: 100%;
                        }

                        .banner {
                          padding-top: 0;
                          height: 22rem;
                        }

                        .head.container {
                          margin-bottom: 5rem;
                        }

                        .slogan {
                          padding: 0.75rem 4rem;
                          margin-right: 2rem;
                        }

                        .slog.container {
                          text-align: center;
                          justify-content: flex-end;
                        }

                        .slogan h1 {
                          font-size: 1.33rem;
                        }
                      }

                      /* Mobile Version */
                      @media only screen and (max-width: 480px) {
                        .container, .banner {
                          width: 100%;
                        }

                        .banner {
                          height: 17rem;
                          background-position: 20%;
                        }

                        .head.container {
                          margin-bottom: 9rem;
                        }

                        .slogan {
                          width: 100%;
                          padding-top: 1rem;
                          padding-bottom: 1rem;
                          margin: 0;
                        }

                        .slog.container {
                          text-align: center;
                          justify-content: flex-end;
                        }

                        .slogan h1 {
                          font-size: 1rem;
                        }

                        .hidden {
                          display: block;
                        }

                        .logo span {
                          display: none;
                        }

                        .nav span {
                          display: none;
                        }

                        .features.container {
                          flex-direction: column;
                          justify-content: space-between;
                          align-items: center;
                          margin-top: 3.77rem;
                          margin-bottom: 3.77rem;
                        }

                        .icon p {
                          font-size: 0.77rem;
                        }

                        .features .icon {
                          margin-top: 1.54rem;
                        }

                        .info.container {
                          flex-direction: column;
                          justify-content: space-between;
                          margin-right: 0;
                        }

                        .info-block {
                          width: 100%;
                          margin-right: 0;
                        }

                        .info-block .title {
                          width: 100%;
                        }

                        .info-block.appointments {
                          margin-top: 4rem;
                        }

                        .info-block .text {
                          font-size: 0.77rem;
                          padding-top: 1rem;
                        }

                        .foot.container {
                          justify-content: center;
                          width: 100%;
                          background-size: cover;
                        }

                        footer span {
                          display: none;
                        }
                      }
